.page-item.active .page-link {
  background-color: rgb(66, 62, 11);
}
.page-item.disabled .page-link {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.pagination{
    display: flex;
    width: 25%;
}
.pagination1{
    display: flex;
    justify-content: center
}
.page-link1{
    background-color: red;
    color: white;

}
.page-link2{
    background-color: green;
    color: white;
}
.rozmir{
    cursor: pointer;
}
.page-item{
    color: white;
}